<template>
  <div class="grid__cell">
    <p v-for="message in messages"
      class="{{ message.type.toLowerCase() }}" >
      [{{ message.type.toUpperCase() }}][{{ message.date.toLocaleString() }}][{{ message.source }}] {{ message.content }}
    </p>
  </div>
</template>

<script>
import { getLogs } from '../vuex/getters'

export default {
  vuex: {
    getters: {
      messages: getLogs
    }
  }
}
</script>

<style scoped>
div {
  height: 200px;
  overflow: scroll;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  font-size: 0.7rem;
  margin-top: 10px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
}

p {
  margin: 0;
}

p.error {
  font-weight: bolder;
  color: red;
}

p.warn {
  color: red;
}

p.info {
  color: blue;
}

p.trace {
  color: green;
}
</style>
