<template>
  <div>
    <ul v-if="regions && regions.length > 0">
      <li v-for="region in regions">
        <a v-link="{ path: '/regions/'+region }">
          {{ region }}
        </a>
      </li>
    </ul>
    <span v-else>No region found</span>
  </div>
</template>

<script>
import { loadRegions, log } from '../vuex/actions'
import { getRegions } from '../vuex/getters'

export default {
  route: {
    data: function () {
      this.log().info({source: 'region-list', content: 'load regions'})
      this.loadRegions()
    }
  },
  vuex: {
    actions: {
      loadRegions: loadRegions,
      log: log
    },
    getters: {
      regions: getRegions
    }
  }
}
</script>

<style scoped>
</style>
