<template>
  <div>
    <input v-model="commentTitle" placeholder="Comment title" type="text" />
    <textarea v-model="commentBody" placeholder="Comment" rows="5"></textarea>
    <button v-on:click="postComment" disabled="{{ !buttonEnabled }}" type="button">Comment</button>
  </div>
</template>

<script>
import { addComment } from '../vuex/actions'
import { getWine } from '../vuex/getters'

export default {
  data: function () {
    return {
      commentTitle: '',
      commentBody: ''
    }
  },
  computed: {
    buttonEnabled: function () {
      return this.commentTitle.length > 0 && this.commentBody.length > 0
    }
  },
  methods: {
    postComment: function (event) {
      this.addComment(this.wine.id, this.commentTitle, this.commentBody)
      this.$set('commentTitle', '')
      this.$set('commentBody', '')
    }
  },
  vuex: {
    actions: {
      addComment: addComment
    },
    getters: {
      wine: getWine
    }
  }
}
</script>

<style scoped>
input {
  width:100%;
}
textarea {
  width:100%;
}
</style>
