<template>
  <div>
    <div v-if="wine" class="card">
      <img v-bind:src="'/api/wines/' + wine.id + '/image'" />
      <div class="info">
        <span class="label">Type</span>{{ wine.type }}
      </div>
      <div class="info">
        <span class="label">Région</span>{{ wine.appellation.region }}
      </div>
      <div class="info">
        <span class="label">Appellation</span>{{ wine.appellation.name }}
      </div>
      <div class="info">
        <span class="label">Cépages</span>{{ wine.grapes.join(', ') }}
      </div>
      <wine-comment-like></wine-comment-like>
      <wine-comment-form></wine-comment-form>
      <wine-comment-list></wine-comment-list>
    </div>
    <span v-else>No wine found for {{ $route.params.wineId }}</span>
  </div>
</template>

<script>
import WineCommentLike from './wine-comment-like'
import WineCommentForm from './wine-comment-form'
import WineCommentList from './wine-comment-list'

import { loadWine, log } from '../vuex/actions'
import { getWine } from '../vuex/getters'

export default {
  route: {
    data: function () {
      this.log().info({source: 'wine-desc', content: 'loadwine : ' + this.$route.params.wineId})
      this.loadWine(this.$route.params.wineId)
    }
  },
  components: {
    WineCommentLike,
    WineCommentForm,
    WineCommentList
  },
  vuex: {
    actions: {
      log: log,
      loadWine: loadWine
    },
    getters: {
      wine: getWine
    }
  }
}
</script>

<style scoped>
.card {
  padding: 8px;
  box-sizing: border-box;
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
  min-height: 280px;
}

.title {
  font-weight: 'bold';
  font-size: '1.2em';
}

.info {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
}

.label {
  color: white;
  margin-right: 8px;
  padding: 4px;
  background: grey;
  border-radius: 4px;
}
</style>
