<template>
  <div>
    <ul v-if="wines && wines.length > 0">
      <li v-for="wine in wines">
        <a v-link="{ path: '/regions/'+$route.params.regionId+'/wines/'+wine.id }">
          {{ wine.name }}
        </a>
      </li>
    </ul>
    <span v-else>No wine found for {{ $route.params.regionId }}</span>
  </div>
</template>

<script>
import { loadWines, log } from '../vuex/actions'
import { getWines } from '../vuex/getters'

export default {
  route: {
    data: function () {
      this.log().info({source: 'wine-list', content: 'loadwines : ' + this.$route.params.regionId})
      this.loadWines(this.$route.params.regionId)
    }
  },
  vuex: {
    actions: {
      loadWines: loadWines,
      log: log
    },
    getters: {
      wines: getWines
    }
  }
}
</script>

<style scoped>
</style>
