<template>
  <div class="info">
    <span class="label"}>Mon avis</span>
    <button v-if="liked" v-on:click="unlike">:)</button>
    <button v-else       v-on:click="like"  >:(</button>
  </div>
</template>

<script>
import { changeLiked } from '../vuex/actions'
import { getWine, isLiked } from '../vuex/getters'

export default {
  methods: {
    like: function (event) {
      this.changeLiked(this.wine.id, true)
    },
    unlike: function (event) {
      this.changeLiked(this.wine.id, false)
    }
  },
  vuex: {
    actions: {
      changeLiked: changeLiked
    },
    getters: {
      wine: getWine,
      liked: isLiked
    }
  }
}
</script>

<style scoped>
</style>
