<template>
  <div>
    <ul v-if="comments.length > 0">
      <li v-for="comment in comments">
        <span>{{ comment.title }} (le <small>{{ comment.date }}</small>)</span>
        <p>{{ comment.content }}</p>
      </li>
    </ul>
    <span v-else>Pas de commentaires sur ce vin...</span>
  </div>
</template>

<script>
import { getComments } from '../vuex/getters'

export default {
  vuex: {
    getters: {
      comments: getComments
    }
  }
}
</script>

<style scoped>
div {
  width:100%;
  height:100px;
  overflow:auto;
  padding: 8px;
  text-align:left;
  box-sizing: border-box;
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
}
</style>
