<template>
  <ul>
    <li v-for="link in links">
      <a v-if="link.path" v-link="{ path: link.path }"><span>{{ link.label }}</span></a>
      <span v-else>{{ link.label }}</span>
    </li>
  </ul>
</template>

<script>
import { getLinks } from '../vuex/getters'

export default {
  vuex: {
    getters: {
      links: getLinks
    }
  }
}
</script>
