<template>
  <div id="app">
    <img class="logo" src="./assets/logo.png">
    <div id="wine-app" class="grid">
      <div class="grid__cell" style="padding:10px">
        <h2>{{ title }}</h2>
        <button type="button" v-on:click="back">back</button>
      </div>
      <div class="2/3 grid__cell">
        <div class="grid" >
          <div class="1/3 grid__cell">
            <wine-nav></wine-nav>
          </div>
          <div class="2/3 grid__cell">
            <router-view name="wineapp"></router-view>
          </div>
        </div>
      </div>
    </div>
    <console></console>
  </div>
</template>

<script>
import WineNav from './components/wine-nav'
import Console from './components/console'

import store from './vuex/store'
import { log } from './vuex/actions'
import { getTitle } from './vuex/getters'

export default {
  replace: false,
  components: {
    WineNav,
    Console
  },
  store: store,
  events: {
    log: function (message) {
      this.log(message)
    }
  },
  methods: {
    back: function () {
      this.$route.router.go(window.history.back())
    }
  },
  vuex: {
    actions: {
      log: log
    },
    getters: {
      title: getTitle
    }
  }
}
</script>

<style>
html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
}

.logo {
  width: 100px;
  height: 100px
}

#app {
  color: #2c3e50;
  width: 1200px;
  font-family: Source Sans Pro, Helvetica, sans-serif;
  text-align: center;
}

#app a {
  color: #42b983;
  text-decoration: none;
}
</style>
